.user-card {
  margin: 10px;
  width: 97%;
}

mat-card-title, mat-card-subtitle{
  margin: 0;
}

mat-card-header {

  display: flex;
  align-items: center;

  .username {
    margin-left: 10px;
  }

  img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
  }
}

.example-header-image {
  width: 70px;
  height: 70px;
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
