<mat-card class="user-card" *ngFor="let user of users">
  <mat-card-header>
    <div>
      <img [src]="user?.avatar_url">
    </div>
    <div class="username">
      <mat-card-title>{{ user?.login }}</mat-card-title>
      <mat-card-subtitle>{{user?.url }}</mat-card-subtitle>
    </div>
  </mat-card-header>
  <mat-card-actions [align]="'end'">
    <button mat-button color="primary" (click)="openModal(user?.login)">
      <mat-icon>info</mat-icon>
      Saiba mais
    </button>
  </mat-card-actions>
</mat-card>
