<mat-card class="user-card" *ngFor="let user of users">
  <mat-card-header>
    <div>
      <img [src]="user?.avatar_url">
    </div>
    <div class="username">
      <mat-card-title>{{ user?.login }}</mat-card-title>
      <mat-card-subtitle>{{user?.url }}</mat-card-subtitle>
    </div>
    <div class="learnMore">
      <button  mat-button color="primary" (click)="openModal(user?.login)">
        <mat-icon>info</mat-icon>
        Saiba mais
      </button>
    </div>
  </mat-card-header>
</mat-card>
