main {
  display: flex;
  height: 100vh;
}

.side {
  flex:7;
}

.searchtitle{
  font-weight: 400;
  color: #fff;
}

.left-side {
  background-color: #0f8cc9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-side {

}
